$white: #ffffff;
$cream-white: #F3F3F0;
$kv-green: #438a9c;
$light-gray: #ffffffd3;
$light-gray2: #E8E8E8;
$light-gray3: #82807F;
$gray: #747468;
$black: #190f14;
$black2: #33302E;
$orange: #ea5d1a;
$light-orange: #fd6e2cca;
