@font-face {
    font-family: 'Seatbcn';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/SEATBCN-Regular.woff2") format('woff2');
  }
  @font-face {
    font-family: 'Seatbcn';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/SEATBCN-Bold.woff2") format('woff2');
  }
  @font-face {
    font-family: 'Seatbcn';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/SEATBCN-Medium.woff2") format('woff2');
  }